<h1 style="background-color:#edcdb3;" align="center">Teacher</h1>
<div class="row">
        <div style="background-color:#edcdb3;" class="col 12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <h2 align="center">Announcements</h2>
            <br>
            <ul>
              <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
            </ul>
            <br>
            <a routerLink="/"><button align="center" class="btn btn-success">Signout</button></a>
        </div>
        <div class="col 12 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <div class="in-facility">
                <h2 style="background-color:#edcdb3;" align="center">Subjects</h2>
               
                <div class="row g-3">
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" >
                            <img height="250px" src="https://1.bp.blogspot.com/-hCKSM-5kyks/X9tAmiXyE0I/AAAAAAAAaMQ/LgcZ1axZY-I7R82EKPmZwIGK0qGwMnRUgCPcBGAYYCw/w680/How-to-Install-MySQL-8.0-on-Ubuntu-18.04-1024x576.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <br>
                              <h5 class="card-title">MySQL</h5>
                              <br>
                              <a routerLink="/mynotesteach" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" >
                            <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_33wMapTWbP_G2CPXXGzmB9abM4UtdviMRw&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                                <br>
                              <h5 class="card-title">Data Mining</h5>
                              <br>
                              <a href="#" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
        
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw1vEE5fOuT1zNZ4u4AgCOEJQnIpb_xEERMg&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                                <br>
                              <h5 class="card-title">Software Engineering</h5>
                              <br>
                              <a href="#" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzBXjy86fHBQ-5EU4giZtLK7Qf9Ve9GB1mpQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Web Programming & Python</h5>
                              <br>
                              <a href="#" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
                </div>
        </div>
</div>
