<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/studenthome">
      <p style="font-family: Lucida Handwriting; line-height: 10px;
      height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
      Interakt</p>
    </a>
    <a routerLink="/"><button class="btn-light">Signout</button></a>
  </div>
</nav>









<h1 style="background-color:#edcdb3;" align="center">Teacher</h1>
<div class="row">
        <div style="background-color:#edcdb3;" class="col 12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3" align="center">
            
          <br><h2 align="center">Announcements</h2>
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <form #announcement="ngForm" (ngSubmit)="Announce()">
            <br>
            <ul>
              <input type="text" class="form-control" name="message" [(ngModel)]="data6.message">
            </ul>
            <br>
           <button align="center" class="btn btn-success">Submit</button>
          </form>
          </div>
        </div>
        <div class="col 12 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <div class="in-facility">
                <h2 style="background-color:#edcdb3;" align="center">Subjects</h2>
               
                <div class="row g-3">
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" >
                            <img height="250px" src="https://1.bp.blogspot.com/-hCKSM-5kyks/X9tAmiXyE0I/AAAAAAAAaMQ/LgcZ1axZY-I7R82EKPmZwIGK0qGwMnRUgCPcBGAYYCw/w680/How-to-Install-MySQL-8.0-on-Ubuntu-18.04-1024x576.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <br>
                              <h5 class="card-title">MySQL</h5>
                              <br>
                              <a routerLink="/myhometeach" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" >
                            <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_33wMapTWbP_G2CPXXGzmB9abM4UtdviMRw&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                                <br>
                              <h5 class="card-title">Data Mining</h5>
                              <br>
                              <a routerLink="/datanotesteach" class="btn btn-primary">Open</a>
                            </div>
                          </div>
                    </div>
        
                    
                </div>
        </div>
</div>
