<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/adminhome">
        <p style="font-family: Lucida Handwriting; line-height: 10px;
        height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
        Interakt</p>
      </a>
      <a routerLink="/"><button class="btn-light">Signout</button></a>
    </div>
  </nav>
  
  
  
  
  
  <h1 style="background-color:#edcdb3;" align="center">Admin</h1>
  <div class="row">
          <div style="text-align: center;" style="background-color:#edcdb3;" class="col 12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3" align="center">
              <ul>
            <br><h2 align="center">Admin Functions</h2>
              <br>
             
                  <br>
                  <div class="d-grid gap-2" align="center">
                    <a routerLink="/suballot"><button  style="background-color: #008CBA; border: none;  color: white;" type="button">Subject Allotment</button></a>
                    <a routerLink="/subadd"><button class="btn btn-primary" type="button">Subject Add</button></a>
                    <a routerLink="/studallot"><button class="btn btn-primary" type="button">Student Allotment</button></a>
                  </div>
             <br><br><br><br><br><br><br><br><br><br>
                </ul>
          </div>
          <div class="col 12 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9 ">
             
          </div>
  </div>
  