<br>
<div class="container">
    <div class="row" style="font-family: Lucida Handwriting; font-size: 30px;background-color: #edcdb3;" align="center"><b>Login</b>
    </div>
    <div class="row" g-5>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <label for="" class="form-label">Email</label>
        <input type="email" name="" id="" class="form-control">
        <label for="" class="form-label">Password</label>
        <input type="password" name="" id="" class="form-control">
        <br><button class="btn btn-primary">Log In</button>
      </div>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
  
  </div>