<div class="container">
    
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <br><br><p style="font-family: Lucida Handwriting; font-size: 30px;background-color: #edcdb3;" align="center"><b>Student Signup</b></p>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form #studentregister="ngForm" (ngSubmit)="Studreg()">
                  <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="data.studname">

                    <label for="" class="form-label">Registration Number</label>
                    <input type="" class="form-control" name="regno" [(ngModel)]="data.studregno">

                    <label for="" class="form-label">Course</label>
                    <select name="course" class="form-control" name="course" [(ngModel)]="data.studcourse">
                        <option value="Select">Select</option>
                        <option value="BCA">BCA</option>
                    </select>
                    <label for="" class="form-label">Email</label>
                    <input type="email" name="" id="" class="form-control" name="email" [(ngModel)]="data.studemail">

                    <label for="" class="form-label">Password</label>
                    <input type="password" name="" id="" class="form-control" name="password" [(ngModel)]="data.studpass">
<br>
<button class="btn btn-primary">Register</button>
<br>
                </form>

                
            
            </div>
        </div>
    </div>
  </div>

  <div class="container">
                    
    <div class="row" g-5>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
    
        <a style="margin: auto;
        width: 50%;
        padding: 10px;" routerLink="/logins"> <button class="btn btn-success">Go to Login</button></a>

      </div>
      <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
  
  </div>