<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/teacherhome">
        <p style="font-family: Lucida Handwriting; line-height: 10px;
        height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
        Interakt</p>
      </a>
      <a routerLink="/"><button class="btn-light">Signout</button></a>
    </div>
  </nav>

  <h1 style="background-color:#edcdb3;" align="center">Student List</h1>



  <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" align="center">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 
<table class="table table-striped" >
    <thead>
      <tr style="background-color: #189AB4">
        <th scope="col">Registration Number</th>
        <th scope="col">Name</th>
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.studregno}}</td>
        <td>{{i.studname}}</td>
       
      </tr>
      </tbody>
      
  </table>
  </div>
    </div>
    </div>
</div>