<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/teacherhome">
        <p style="font-family: Lucida Handwriting; line-height: 10px;
        height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
        Interakt</p>
      </a>
      <a routerLink="/"><button class="btn-light">Signout</button></a>
    </div>
  </nav>

  <h1 style="background-color:#edcdb3;" align="center">Student List</h1>


<table border="5" cellspacing="10" cellpadding="20">
    <tr>
        <th>Roll Number</th>
        <th>Students</th>
    </tr>
    <tr>
        <th>1.</th>
        <td>Anu Lekshmi</td>
    </tr>
    <tr>
        <th>2.</th>
        <td>Aasiya</td>
    </tr>
    <tr>
        <th>3.</th>
        <td>Anjana Jayakumar</td>
    </tr>
    <tr>
        <th>4.</th>
        <td>Fathima</td>
    </tr>
</table>