<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/adminhome">
      <p style="font-family: Lucida Handwriting; line-height: 10px;
      height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
      Interakt</p>
    </a>
    <a routerLink="/"><button class="btn-light">Signout</button></a>
  </div>
</nav>


  
<br>
<div class="container">
  <div class="row" style="font-family: Lucida Handwriting; font-size: 30px;background-color: #edcdb3;" align="center"><b>Student Allotment</b>
  </div>
  <br>
  <div class="row" g-5>
    <div *ngFor="let i of data2" class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card">
      <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyGcY_ISnVERgRwGxROKVqWGvyfn8EtoTPboEJtp-FXirQiQvZn0liwLqQ-N6Ccsz3SDE&usqp=CAU" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.subid}}</h5>
        <p class="card-text">{{i.subname}}</p>
      </div>
  </div>
</div>
  </div>

</div>