<div style="background-color: #edcdb3;height: 1000;">
    <br><br><br>
    <div style="background-color: #edcdb3;height: auto;" class="continer">
      <div class="row">
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
           <img src="https://global-uploads.webflow.com/5f20e61707a963c75f6a6729/62440b4ee832b1617d75f9b6_Interakt%20Logo%201-01.png" alt="" width="100%" height="430">
        </div>
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Logo_de_l%27agence_INTERAKTIVE.png" alt="" width="100%" height="430">
        </div>
      </div>
    </div>
    </div>