<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <p style="font-family: Lucida Handwriting; line-height: 10px;
      height: 10px;"><img src="https://64.media.tumblr.com/d6fab67b1dc67a478baf7c7c8d3bcb0b/c3e58613074bce27-20/s500x750/6e974e0b0df31ef0608c25e0510779490b2392ab.pnj" alt="" width="30" height="24" class="d-inline-block align-text-top" >
      Interakt</p>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#exampleModal" routerLink="/modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Signup
        </a>
        </li>
        <li class="nav-item">
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/logint">Teacher</a></li>
                  <li><a class="dropdown-item" routerLink="/logins">Student</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please select the following</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you a student or a teacher?
      </div>
      <div class="modal-footer">
        <a routerLink="/signupstudent"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Student</button></a>
        <a routerLink="/signupteacher"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Teacher</button></a>
      </div>
    </div>
  </div>
</div>



<div style="background-color: #edcdb3;height: 1000;">
    <br><br><br><br><br>
    <div style="background-color: #edcdb3;height: auto;"  class="container">
      <div class="row">
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
           <img src="https://64.media.tumblr.com/5ce7b40cecb80905316ef02cb5209765/04bf9e5698766109-97/s640x960/dde473401b9c46b40c4a9d245f2da5c13e454a18.jpg" alt="" width="100%" height="430">
        </div>
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <img src="https://64.media.tumblr.com/0f606a3d1320d700a9f612ea34827590/6dc75e0a2b3cd3cf-b3/s1280x1920/341098ae74cb8f7ca8fbe2bffc855b937316b6d1.pnj" alt="" width="100%" height="430">
        <br><br>
        </div>
      
      </div><br>
    </div>
    </div>