<div style="background-color: #edcdb3;height: 1000;">
    <br><br><br>
    <div style="background-color: #edcdb3;height: auto;" class="continer">
      <div class="row">
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
           <img src="https://64.media.tumblr.com/5ce7b40cecb80905316ef02cb5209765/04bf9e5698766109-97/s640x960/dde473401b9c46b40c4a9d245f2da5c13e454a18.jpg" alt="" width="100%" height="430">
        </div>
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <img src="https://64.media.tumblr.com/0f606a3d1320d700a9f612ea34827590/6dc75e0a2b3cd3cf-b3/s1280x1920/341098ae74cb8f7ca8fbe2bffc855b937316b6d1.pnj" alt="" width="100%" height="430">
        <br><br>
        </div>
        
      </div>
    </div>
    </div>